.App {
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;/*for everything stays exactly where it is even when scrolling*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;/*for make sure that the interactive background is underneath the rest of the app */
}